.cargo/
debian/*
!debian/source
!debian/changelog
!debian/compat
!debian/control
!debian/copyright
!debian/*.install
!debian/rules
target/
vendor/
vendor.tar
*.AppImage*
*.zsync
*.swp
.appimagecraft-*/
popslice_1.0-1_amd64/
popslice-gtk_1.0_amd64.deb